body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.navbar-custom {
    background-color: white;
    padding: 0;
}
.navbar-brand {
    font-weight: bold;
    color: orange;
}
.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
    padding: 15px;
}
.navbar-nav .nav-link.active {
    color: orange;
}
.navbar-toggler {
    border: none;
}
.btn-quote {
    background-color: orange;
    border-color: orange;
    color: #fff;
    font-weight: bold;
}
.btn-quote:hover {
    background-color: #d04e25;
    border-color: #d04e25;
}
.navbar-top {
    background-color: #0f2c57;
    color: white;
    padding: 5px 20px;
    font-size: 14px;
}
.navbar-top a {
    color: white;
    text-decoration: none;
}
.navbar-top .social-icons a {
    margin-left: 10px;
}
.navbar-custom .navbar-collapse {
    justify-content: flex-end;
}


.safety-section {
    width: 100%;
}

.banner {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url('SS-1-transformed.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.banner-content {
    position: relative;
    z-index: 1;
}

.banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay to enhance text visibility */
    z-index: 0;
}

.banner-content h1 {
    font-size: 3rem;
    margin: 0;
    animation: fadeInDown 2s;
}

.banner-content p {
    margin: 10px 0 0;
    font-size: 1.2rem;
    animation: fadeInUp 2s;
}

.banner-content a {
    color: white;
    text-decoration: none;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .banner-content h1 {
        font-size: 2rem;
    }
    .container-fluid{
        text-align: center;
    }
    
    .banner-content p {
        font-size: 1rem;
    }
}






.commitment-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    
}



.image-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
}

.image-container img {
    width: 50%;
    object-fit: cover;
}

.text-container {
    max-width: 600px;
    margin-left: 20px;
    animation: fadeInDown 2s;
}

.text-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-container p {
    margin-bottom: 20px;
}



.text-container blockquote {
    font-size: 1.1rem;
    color: #333;
    border-left: 4px solid #ff9900;
    padding-left: 20px;
    margin: 0;
}

@media (max-width: 768px) {
    .commitment-section {
        flex-direction: column;
        text-align: center;
    }

    .image-container {
        order: 1;
    }

    .text-container {
        order: 2;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .experience-badge {
        position: relative;
        left: 0;
        top: 0;
        margin-bottom: 20px;
    }
}


.quality-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.text-section {
    flex: 1;
    background-color: #ff9900;
    padding: 40px;
    animation: fadeInLeft 1.5s;
}

.text-section h3 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
}

.text-section h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.text-section ul {
    list-style: none;
    padding: 0;
}

.text-section li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.circle {
    display: inline-block;
    width: 80px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
    font-weight: bold;
}

.text-section p {
    color: #fff;
    margin: 0;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    animation: fadeInRight 1.5s;
}

.welding-image {
    width: 100%;
    height: auto;
    max-width: 500px;
}

/* Keyframes for animations */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .text-section {
        order: 2;
        padding: 20px;
    }

    .image-section {
        order: 1;
        padding: 20px;
    }

    .welding-image {
        max-width: 100%;
    }
}




.industry-section {
    text-align: center;
    padding: 50px 20px;
}

.industry-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeIn 1s;
    text-align: center;
    padding: 20px;
}

.grid-item img {
    width: 100%;
    height: auto;
    max-height: 310px;
    object-fit: cover;
    margin-bottom: 10px;
}

.grid-item h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 0;
}

.grid-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item {
        padding: 10px;
    }

    .grid-item img {
        max-height: 100px;
    }

    .grid-item h3 {
        font-size: 1rem;
    }
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-section {
    background-color: #2c2c2c;
    color: #fff;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.footer-about {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
    text-align: center;
}

.footer-about h2 {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.footer-about span {
    color: #FFA500;
}

.footer-about p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #6c757d; /* Adjust color as needed */
    line-height: 1.5;
    margin-bottom: 20px;
    line-height: 1.6;
}

.footer-social a {
    color: #FFA500;
    margin-right: 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #FF8C00;
}

.footer-links {
    flex: 1;
    min-width: 200px;
    margin-bottom: 30px;
    text-align: center;
}

.footer-links h3 {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #FFA500;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #6c757d; /* Adjust color as needed */
    line-height: 1.5;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #FFA500;
}

.footer-contact {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 2em;
}

.footer-contact h3 {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #FFA500;
}

.footer-contact p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #6c757d; /* Adjust color as needed */
    line-height: 1.5;
    line-height: 1.6;
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-contact a:hover {
    color: #fff;
}

.footer-map {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
    text-align: center;
}

.footer-map h3 {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #FFA500;
}

.map-container {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #222;
    color: #ccc;
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-map{
        margin: auto;
        text-align: center;
    }
    .footer-contact{
        margin: auto;
        text-align: center;
    }
    .footer-links{
        margin: auto;
        text-align: center;
    }
    .footer-about{
        margin: auto;
        text-align: center;
    }
}
